*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    min-height: 100vh;
    background-color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

span {
    font-family: inherit;
    font-size: inherit;

}

p {
    font-size: 28px;
}

#div-box {
    background-color: darkslategrey;
    justify-self: center;
    align-self: center;
    display: flex;
    padding: 0 100px;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    border-left: 3px solid #000;
    padding-left: 10px;
    font-size: 18px;
    margin: 10px;
}

.comment {
    color: rgba(0, 0, 0, 0.596);
    float: right;
}

.red-text {
    color: darkred;
}

.green-text {
    color: darkgreen;
}

.mid-div div {
    display: flex;
    flex-direction: column;
}

.L,
.R {
    width: 1000px;
    height: 1000px;
    margin: 20px;
    padding: 15%;
    border-radius: 10%;
    border: 3px solid #000;
    background-color: rgb(138, 152, 167);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.L > div,
.R > div{
    flex-direction: row;
 }

.L-1 > div > div,
.R-2 > div > div {
    padding: 10px;
 }


.R-2 th {
    padding-right: 30px;
}

.R-2 > div {
    flex-direction: column;
}