/*   

THIS CSS DIVIDES INTO:

1    PURE ELEMENTS
2    ELEMENT'S ELEMENTS
3    MAIN DIVS
4    2nd CLASS DIVS AND THEIR ELEMENTS
5.1  IDs
5.2  ID'S ELEMENTS
6.1  CLASSES
6.2  CLASS'S ELEMENTS
7    REST                                       */


*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    min-height: 100vh;
    background-color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ----------------------------------------------- PURE ELEMENTS */

h3 {
    text-align: center;
    padding-bottom: 50px;
    text-decoration: underline;
}

span {
    font-family: inherit;
    font-size: inherit;
}

p {
    font-size: 28px;
}

/* ----------------------------------------- ELEMENT' S ELEMENTS */

table *{
    padding: 5px;
}

table tr:nth-child(even) {
    background-color: rgba(0, 128, 128, 0.342);
}

/* --------------------------------------------------- MAIN DIVS */

#div-box {
    background-color: darkslategrey;
    justify-self: center;
    align-self: center;
    display: flex;
    padding: 0 100px;
}

.mid-div div {
    display: flex;
    flex-direction: column;
}

.L,
.R {
    width: 1000px;
    height: 1000px;
    margin: 20px;
    padding: 15%;
    border-radius: 10%;
    border: 3px solid #000;
    background-color: rgb(138, 152, 167);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------- 2nd CLASS DIVS AND THEIR ELEMENTS */
.L > div,
.R > div{
    flex-direction: row;
}

.L-1 > div > div,
.R-2 > div > div {
    padding: 10px;
}

.R-2 th {
    padding-right: 30px;
}

.R-2 > div {
    flex-direction: column;
}

/* --------------------------------------------------------- IDs */

/* (EMPTY) */

/* ----------------------------------------------- ID'S ELEMENTS */

/* (EMPTY) */

/* ----------------------------------------------------- CLASSES */

.code {
    font-family: 'Courier New', Courier, monospace;
    border-left: 3px solid #000;
    padding-left: 10px;
    font-size: 18px;
    margin: 10px;
}

.comment {
    color: rgba(0, 0, 0, 0.596);
    float: right;
}

.red-text {
    color: darkred;
}

.green-text {
    color: darkgreen;
}

/* -------------------------------------------- CLASS'S ELEMENTS */

/* (EMPTY) */

/* -------------------------------------------------------- REST */